numpy >= 1.18.5
matplotlib >= 3.3.4
scipy >= 1.4.1
progressbar>=2.5

# The following is necessary
# for 3D graphics.
# vtk >= 9.0.1
# mayavi >= 4.7.1
# PyQt5 >= 5.14.1

# The following is neccesary
# for storing a loading computed eigenstates
h5py >= 3.2.1